body {
  margin: 0;
}

.gyro {
  font-family: sans-serif;
  width: 100%;
  color: #EEEEEE;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
}

.gyro a {
  text-decoration: none;
  color: #DDDDDD
}
